*~
*.o
*.d
GPATH
GRTAGS
GSYMS
GTAGS
*.log*

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.ninja
.ninja_*
compile_commands.json

cn_bench
leis_bench
lock_bench
occ_bench
pqlock_bench
tictoc_bench
tlock_bench
txid_gen_bench
wait_die_bench
atomic_inc
nowait_bench
cas_bench
cas_bench2
cas_bench3
licc_bench
sxql_test
show_cpu_affinity

test_licc2
test_acquire_release
test_memory_barrier
test_histogram
test_llsc
